<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588939399980-lbgu7smkfq4m0i2m9v89hhcibr798oln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588939399980-lbgu7smkfq4m0i2m9v89hhcibr798oln</string>
	<key>API_KEY</key>
	<string>AIzaSyDk7NFcsGVQyJF-Jj_aru5K3Suc4fCU6D0</string>
	<key>GCM_SENDER_ID</key>
	<string>588939399980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kim.widgetProject</string>
	<key>PROJECT_ID</key>
	<string>posmeal-13fc3</string>
	<key>STORAGE_BUCKET</key>
	<string>posmeal-13fc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588939399980:ios:3c19c13d3daaec4d991289</string>
</dict>
</plist>